*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'rubik';
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
  background-color: #85E4FF;
}

.container {
  color: white;
  padding: 0;
  display: flex;
margin: 1vw 2vw 1vw 2vw;
  justify-content: center;
  align-items: center;
flex-direction: column;

}

.question {
  display: flex;
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: #03008F;
  border-radius: 5px;
  padding: 10px 24px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  outline: none;
}

.btn-grid {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}

.btn1 {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: white;
  color: #03008F;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: bold;
  outline: none;
}

.btn2 {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: #03008F;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: bold;
  outline: none;
}

.btn1:hover, .btn2:hover {
  border-color: black;
}

.btn2.correct {
  background-color: #00CF15;
}

.btn2.wrong {
  background-color: #F50A0A;
}

.temp-btn button{
  flex-direction: row;
  justify-content: space-between;
  float: left; /* Float the buttons side by side */
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.start-btn {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  min-width: 250px;
  background-color: white;
  color: #03008F;
}

.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  color: #03008F;
}


.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.new-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#scoreContainer p{
  display: flex;
  font-size: 2.0em;
  font-weight: bold;
  border: 1px solid;
  background-color: #03008F;
  border-radius: 5px;
  border-color: black;
  padding: 15px 20px;
  color: white;
  outline: none;
}

