{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>HoaxSpreader Home</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
<div style="margin-left: 400px; margin-top: 120px">
    <h2> Selamat Datang di Hoax Spreader Mini Games </h2>
    <br> <br>
    <h4 style="margin-left: 20px">Sebagai HoaxSpreader yang handal, kamu tidak boleh ragu.</h4>
    <h4 style="margin-left: 20px">Sekali klik jawaban, kamu akan langsung ke soal berikutnya. Kamu tidak bisa meralat pilihanmu.</h4>
    <h4 style="margin-left: 20px">Dilarang merefresh dan kembali ke soal sebelumnya.</h4>
    <h4 style="margin-left: 20px">Atau nilai anda akan 0.</h4>
    <br> <br>
    <h4 style="margin-left: 20px">Silahkan tekan tombol dibawah untuk memainkan game</h4>
    <br>
    <button  style="margin-left:180px" onclick="location.href='/HoaxSpreader/{{ idAwal }}/{{ 0 }}/'" type="button" class="btn btn-lg btn-primary" >Mainkan Game Sekarang</button>
</div>
{% endblock content %}
