{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hoax Spreader Skor</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
<div>
    <h1>Selamat, skor anda adalah</h1> 
    <h1>{{ skor }} / {{ skormaks }}</h1>
    
    
</div>
{% endblock content %}
