{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hoax Spreader Soal</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
<div>
    <h1 style="margin-left:25px">{{ pertanyaan.no }}. {{ pertanyaan.pertanyaan }}</h1>
    <br><br>
    
    
    <button  style="margin-left:25px" onclick="location.href='/HoaxSpreader/{{ nextID }}/{{ 1 }}'"  type="button" class="btn btn-lg btn-primary" >{{ opsi.opsi1 }}</button>
    <br><br>

    <button  style="margin-left:25px" onclick="location.href='/HoaxSpreader/{{ nextID }}/{{ 2 }}'"  type="button" class="btn btn-lg btn-primary" >{{ opsi.opsi2 }}</button>
    <br><br>
    <button  style="margin-left:25px" onclick="location.href='/HoaxSpreader/{{ nextID }}/{{ 3 }}'"  type="button" class="btn btn-lg btn-primary" >{{ opsi.opsi3 }}</button>
    <br><br>
</div>
{% endblock content %}
