/* Ini adalah css untuk fitur Test Hoax */

.container{ /* container pada home.html */
    text-align: center;
    margin-top: 150px;
}

.judul {
    text-align: center;
    font-size: 4em;
    font-weight: bold;    
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    padding: 0 2vw;
    color: black;
}

.container2{ /* container pada soal.html */
    text-align: center;
    margin-top: 30px;
}

.tombol{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.image1{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}

.image2 img{
    max-width: 40%;
    height: auto;
    
}

.image3 img{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 40%;
    height: auto;
}

.imagebenar img{
    max-width: 40%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagesalah img{
    max-width: 40%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Test123{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.Test123 li{
    padding-right: 20px;
}

.formulir{
    margin-bottom: 30px;
}

.jawaban{
    padding: 5px;
    margin-top: 30px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.pernyataan{
    text-align: center;
    padding: 10px;
    background-color: green;
    color: white;
}

.pernyataan2{
    text-align: center;
    padding: 10px;
    background-color: red;
    color: white;
}

.penjelasan{
    text-align: justify;
    padding: 10px;
    background-color: #117aa7;
    color: white;
}
