{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Test Pengetahuan Ganti</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}
{% block content %}
<h4 style="margin-left: 500px">{{ Soal.pertanyaan }}</h4>
<div action="#" class="form-group" style="width: 400px;margin-left:550px;">
    <form action="{% url 'TestPengetahuan:ganti' %}" method = "POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div action= "{% url 'TestPengetahuan:ganti' %}" class="center" style="padding-left: 150px">
        <input type='submit' class="btn btn-secondary btn-lg" value='Simpan'/>

    </div>
    </form>
</div>
{% endblock content %}
