{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Test Pengetahuan Home</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}s

{% block content %}
<div style="margin-left: 400px; margin-top: 120px">
    <h2> Selamat Datang di Test Pengetahuan COVID </h2>
    <br> <br>
    <h4 style="margin-left: 20px">Silahkan tekan tombol dibawah untuk mengikuti test</h4>
    <br>
    <button  style="margin-left:180px" onclick="location.href='{% url 'TestPengetahuan:soal1s' %}'" type="button" class="btn btn-lg btn-primary" >Kerjakan Test Sekarang</button>
</div>
{% endblock content %}