{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FunCovidInfo | Forum</title>
<link rel="stylesheet" href="{% static 'forum/css/styles.css' %}">
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="atasbawah">
        <div class="subjudul">
            Maaf, Anda harus login untuk menggunakan fitur {% if message %}{{ message }}{% else %}ini{% endif %}.
        </div>
        <div class="kanankiri center" style="margin: -80px 0 -40px 0;">
            <img src="{% static 'forum/img/Authentication-pana.png' %}" width=500px height=500px />
        </div>
        <div class="kanankiri center" style="height: 60px;">
            <a href="{% url 'userAuth:login' %}" class="button1 bodyButton" style="font-size: 26px; width: 200px;">Login</a>
            <a href="{% url 'userAuth:signup' %}" class="button1 bodyButton" style="font-size: 26px; width: 200px;">Sign Up</a>
        </div>
    </div>
</div>
{% endblock content %}