{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FunCovidInfo | {{ userInProfil.username }}</title>
<link rel="stylesheet" href="{% static 'forum/css/styles.css' %}">
{% endblock meta %}

{% block content %}

    <div class="container">
        <div id="profil">
            <div class="atasbawah">
                <p class="judul">
                    Profil
                </p>
                <p class="subjudul">
                    Username : {{ userInProfil.username }}
                </p>
                
                <div class="profile-container">
                    <div class="profile" id="profileInProfil" {% if warna %}style="background-color: rgb({{ warna.color1 }}, {{ warna.color2 }}, {{ warna.color3 }});"{% else %}style="background-color: gray;"{% endif %}>
                        <div class="atasbawah center inisial" style="font-size: 6vw;">
                            {{ userInProfil.username|make_list|first|upper }}
                        </div>
                    </div>
                </div>
                {% if userInProfil == request.user %}
                <p style="font-size: 2vw;">
                    Ubah Warna Profil:
                </p>
                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="kanankiri center">
                            <button type="submit" class="button1 bodyButton">Ubah Warna</button>
                            <a href="{% url 'forum:warnaRandom' userInProfil.username %}" class="button1 bodyButton">Warna Random</a>
                        </div>
                    </form>
                </div>
                {% endif %}
                <p class="judul">
                   Diskusi oleh {{ userInProfil.username }}
                </p>
                <p class="subjudul">
                    {{ diskusi|length }} diskusi telah dimulai oleh {{ userInProfil.username }}
                </p>
                <div class="atasbawah" style="width: 100%;">
                    {% if diskusi %}
                        {% for d in diskusi %}
                            <div onclick="location.href='{% url 'forum:readPost' d.pk %}';" {% for w in semuaWarna %}{% if w.user == d.penulis %}{% if d.kategori == 'umum' %}class="post umum"{% elif d.kategori == 'info' %}class="post info"{% elif d.kategori == 'hd' %}class="post hd"{% elif d.kategori == 'hs' %}class="post hs"{% elif d.kategori == 'th' %}class="post th"{% elif d.kategori == 'tp' %}class="post tp"{% endif %}{% endif %}{% endfor %}>
                                <div class="kanankiri inside-post">
                                    <div class="profile-container">
                                        <div class="profile" {% for w in semuaWarna %}{% if w.user == d.penulis %}style="background-color: rgb({{ w.color1 }}, {{ w.color2 }}, {{ w.color3 }});"{% endif %}{% endfor %}>
                                            <div class="atasbawah center inisial">
                                                {{ userInProfil.username|make_list|first|upper }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="atasbawah alignatasbawahkiri snippet">
                                        <div class="judulPost">
                                            {{ d.judul|truncatechars:120 }} <br>
                                        </div>
                                        <span class="subJudulPost">
                                            <a href="{% url 'forum:forum2' d.kategori %}" {% if d.kategori == 'umum' %}class="blue"{% elif d.kategori == 'info' %}class="red"{% elif d.kategori == 'hd' %}class="yellow"{% elif d.kategori == 'hs' %}class="purple"{% elif d.kategori == 'th' %}class="green"{% elif d.kategori == 'tp' %}class="black"{% endif %}>
                                                {% if d.kategori == 'umum' %}(Diskusi Umum){% elif d.kategori == 'info' %}(Informasi Covid-19){% elif d.kategori == 'hd' %}(Hoax Destroyer){% elif d.kategori == 'hs' %}(Hoax Spreader){% elif d.kategori == 'th' %}(Test Hoax){% elif d.kategori == 'tp' %}(Test Pengetahuan Covid-19){% endif %}
                                            </a> 
                                             oleh 
                                            <a href="{% url 'forum:profil' d.penulis.username %}" class="edit"> {{ d.penulis }} </a>
                                             pada {{ d.tanggalPost|date:'d-M-Y H:i' }} WIB 
                                            {% if d.penulis == request.user %} | 
                                                <a href="{% url 'forum:editPost' d.pk %}" class="edit"> edit </a> | 
                                                <a href="{% url 'forum:confirmDeletePost' d.pk %}" class="edit"> delete </a>
                                            {% endif %}
                                        </span>
                                        <div>
                                            {{ d.isi|safe|truncatechars:220 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{ userInProfil.username }} belum pernah memulai diskusi</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}