{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hoax Destroyer</title>
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container">
        <div id="question-container">
	    <div id="number" style="text-align: center; color: #010043;"></div>
            <div id="question" class="question">{{ soal.pertanyaan }}</div>
	    <div id="answer-buttons" class="btn-grid">
		    <div class="temp-btn">
			<button class="btn2 wrong" style="text-align: center; border-radius: 50%; width: 5%"><p>a</p></button>
			<button class="btn2 wrong" style="text-align: left; border-radius: 13px; width: 92%; margin-left: 3%">{{ a.pilihan }}</button>
		    </div>
		    <div class="temp-btn">
			<button class="btn2 correct" style="text-align: center; border-radius: 50%; width: 5%"><p>b</p></button>
			<button class="btn2 correct" style="text-align: left; border-radius: 13px; width: 92%; margin-left: 3%">{{ b.pilihan }}</button>
		    </div>
		    <div class="temp-btn">
			<button class="btn2 wrong" style="text-align: center; border-radius: 50%; width: 5%"><p>c</p></button>
			<button class="btn2 wrong" style="text-align: left; border-radius: 13px; width: 92%; margin-left: 3%">{{ c.pilihan }}</button>
		    </div>
		    <div class="temp-btn">
			<button class="btn2 wrong" style="text-align: center; border-radius: 50%; width: 5%"><p>d</p></button>
			<button class="btn2 wrong" style="text-align: left; border-radius: 13px; width: 92%; margin-left: 3%">{{ d.pilihan }}</button>
		    </div>
            </div>
	</div>
	<div class="controls">
	    <button onclick="location.href='{% url 'hoax_destroyer:score' nilaiid=nilai.id %}'" class="next-btn btn1">Next</button>
	</div>
    </div>
{% endblock content %}
