{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hoax Destroyer</title>
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container">
	<div class="controls">
	    <form action='saveSaran' method='POST' style='color: black'>
            	{% csrf_token %}
	        <table>
	            {{ form.as_table }}
   	        </table>
		</br>
	    	<input type='submit' value='Submit'>
            </form>
	</div>
    </div>
{% endblock content %}
