{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hoax Destroyer</title>
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container">
	<div class="controls">
	    <div id="scoreContainer"><p>Your score : {{ nilai }}/100</p></div>
	</div>
        <div class="new-btn">
	    <button onclick="location.href='{% url 'main:home' %}'" id="exit-btn" class="start-btn btn1">Exit</button>
    	    <button onclick="location.href='{% url 'hoax_destroyer:soal1' %}'" class="start-btn btn1">Restart</button>
	    <button onclick="location.href='{% url 'hoax_destroyer:saranPertanyaan' %}'" id="exit-btn" class="start-btn btn1" style="min-width: 350px">Tambah Pertanyaan</button>
    	    <button onclick="location.href='{% url 'forum:forum1' %}'" id="forum-btn" class="start-btn btn1">Go To Forum</button>
       </div>
    </div>
{% endblock content %}
