{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hoax Destroyer</title>
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="new-btn">
	    <button onclick="location.href='{% url 'hoax_destroyer:soal1' %}'" class="start-btn btn1">Start</button>
	</div>
    </div>
{% endblock content %}
