{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FunCovidInfo</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'main/css/TestHoax.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
    <div class="container">

        <h1>Selamat Datang di Test Hoax !</h1>

        <div class="tombol">
            <a href="{% url 'TestHoax:soal' %}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Ikuti Test</a>
        </div>
        
            
    </div>
{% endblock content %}
