{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FunCovidInfo | about</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container" id="home">
        <div class="atasbawah">
            <div class="atasbawah" style="padding-bottom: 50px;">
                <div class="judul" style="padding-bottom: 20px;">
                    Tentang FunCovidInfo
                </div>
                <div class="about-background kanankiri">
                    <img src="{% static 'main/img/HoaxDestroyer.png' %}" class="paddingkanankiri" width=100px height=100px />
                    <div class="atasbawah alignatasbawahkiri paddingkanankiri">
                        <div class="judul-kecil">
                            Hoax Destroyer
                        </div>
                        <div class="isi">
                            Hoax Destroyer adalah salah satu mini games di <strong><span style="color: #80ffdb;">Fun</span><span style="color: #f28d8d;">Covid</span><span style="color: #e9ecf5;">Info</span></strong>. Akan diberikan soal dan pemain harus menjawab soal dengan jawaban yang akan menghancurkan hoax. Jika jawaban benar, pemain akan mendapatkan poin. Namun, jika pemain salah memberikan jawaban, maka pemain tidak akan mendapatkan poin. Skor akan diakumulasi di akhir permainan.
                        </div>
                    </div>
                </div>
                <div class="about-background kanankiri">
                    <div class="atasbawah alignatasbawahkanan paddingkanankiri">
                        <div class="judul-kecil">
                            Hoax Spreader
                        </div>
                        <div class="isi text-align-kanan">
                            Hoax Spreader adalah salah satu mini games di <strong><span style="color: #80ffdb;">Fun</span><span style="color: #f28d8d;">Covid</span><span style="color: #e9ecf5;">Info</span></strong>. Pada mini games ini akan diberikan sebuah narasi dan berbagai pilihan jawaban untuk para pemain. Pemain harus menjawab dengan jawaban yang akan menyebarkan hoax. Jika jawaban benar, pemain akan mendapatkan poin dan jika salah, pemain tidak akan mendapatkan poin. Skor akan diakumulasi di akhir permainan dan akan diberikan predikat.
                        </div>
                    </div>
                    <img src="{% static 'main/img/HoaxSpreader.png' %}" class="paddingkanankiri" width=100px height=100px />
                </div>
                <div class="about-background kanankiri">
                    <img src="{% static 'main/img/TestHoax.png' %}" class="paddingkanankiri" width=100px height=100px />
                    <div class="atasbawah alignatasbawahkiri paddingkanankiri">
                        <div class="judul-kecil">
                            Test Hoax
                        </div>
                        <div class="isi">
                            Test Hoax adalah salah satu tes pada <strong><span style="color: #80ffdb;">Fun</span><span style="color: #f28d8d;">Covid</span><span style="color: #e9ecf5;">Info</span></strong>. Pada test ini pemain akan diberikan berita/statement terkait Covid-19, lalu pemain harus menentukan apakah berita/statement tersebut termasuk hoax atau tidak. Jawaban dari test ini berupa pilihan benar/salah. Setelah menjawab, pemain akan mendapatkan tampilan jawaban yang benar dan pada akhir test pemain akan dapat melihat hasil keseluruhan dari test yang telah dikerjakan.
                        </div>
                    </div>
                </div>
                <div class="about-background kanankiri">
                    <div class="atasbawah alignatasbawahkanan paddingkanankiri">
                        <div class="judul-kecil">
                            Test Pengetahuan Covid-19
                        </div>
                        <div class="isi text-align-kanan">
                            Test Pengetahuan Covid-19 adalah salah satu tes pada <strong><span style="color: #80ffdb;">Fun</span><span style="color: #f28d8d;">Covid</span><span style="color: #e9ecf5;">Info</span></strong>. Test ini akan memuat soal pilihan ganda tentang pengetahuan umum seputar COVID-19. Jika pemain mendapatkan nilai akhir diatas 60 maka pemain akan diarahkan untuk pergi ke Forum. Sangat diharapkan pemain-pemain dapat membantu dalam menjawab pertanyaan di forum, jika nilai pemain kurang dari 60, pemain akan diminta untuk mengikuti tes dan mini games lain agar pemain dapat terus belajar dan mendapatkan pengetahuan.
                        </div>
                    </div>
                    <img src="{% static 'main/img/TestPengetahuanCovid-19.png' %}" class="paddingkanankiri" width=100px height=100px />
                </div>
                <div class="about-background kanankiri">
                    <img src="{% static 'main/img/DiskusiGeneral.png' %}" class="paddingkanankiri" width=100px height=100px />
                    <div class="atasbawah alignatasbawahkiri paddingkanankiri">
                        <div class="judul-kecil">
                            Forum
                        </div>
                        <div class="isi">
                            Forum adalah fasilitas tempat berdiskusi yang tersedia di <strong><span style="color: #80ffdb;">Fun</span><span style="color: #f28d8d;">Covid</span><span style="color: #e9ecf5;">Info</span></strong>. Forum Diskusi akan menjadi sarana komunikasi dan diskusi antar pengguna website. Selain sebagai tempat berbagi pengalaman dan pengetahuan, forum juga bisa menjadi tempat pengguna untuk beropini dan berdiskusi tentang berbagai informasi terkini Covid-19 dan juga masalah-masalah lain yang terjadi di dunia.
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="atasbawah" style="padding-bottom: 20px;">
                <div class="judul" style="padding-bottom: 20px;">
                    Tentang Kami
                </div>
                <div class="about-background">
                    <div class="subjudul">
                        Kelompok B12 PPW 2020/2021-1
                    </div>
                    <div class="anggota">
                        <p>Anggota:<br>
                        Athallah Rikza Ihsani (1906353523)<br>
                        Ferdi Fadillah (1906351083)<br>
                        Gerrad Natanael Daloma (1906398704)<br>
                        Michael Felix Haryono (1906398326)<br>
                        Rico Tadjudin (1906398364)<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}