{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>FunCovidInfo</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container" id="home">
        <div class="atasbawah">
            <div class="judul" style="padding-bottom: 20px;">
                Selamat Datang di <br><span style="color: #80ffdb;">Fun</span><span style="color: #f28d8d;">Covid</span><span style="color: #e9ecf5;">Info</span>
            </div>
            <div class="kanankiri center" style="height: 120px;">
                <a href="{% url 'hoax_destroyer:start' %}" class="button1 bodyButton hd" style="font-size: 20px; width: 240px;">
                    <div class="kanankiri center" style="height: 50px;">
                        <img src="{% static 'main/img/HoaxDestroyer.png' %}" class="paddingkanan" width=40px height=40px />
                        Hoax Destroyer
                    </div>
                </a>
                <a href="{% url 'HoaxSpreader:home' %}" class="button1 bodyButton hs" style="font-size: 20px; width: 240px;">
                    <div class="kanankiri center" style="height: 50px;">
                        <img src="{% static 'main/img/HoaxSpreader.png' %}" class="paddingkanan" width=40px height=40px />
                        Hoax Spreader
                    </div>
                </a>
                <a href="{% url 'TestHoax:testhoax' %}" class="button1 bodyButton th" style="font-size: 20px; width: 240px;">
                    <div class="kanankiri center" style="height: 50px;">
                        <img src="{% static 'main/img/TestHoax.png' %}" class="paddingkanan" width=40px height=40px />
                        Test Hoax
                    </div>
                </a>
                <a href="{% url 'TestPengetahuan:home' %}" class="button1 bodyButton tp" style="font-size: 20px; width: 240px;">
                    <div class="kanankiri center" style="height: 50px;">
                        <img src="{% static 'main/img/TestPengetahuanCovid-19.png' %}" class="paddingkanan" width=40px height=40px />
                        Test Pengetahuan
                    </div>
                </a>
            </div>
            <div class="kanankiri center" style="height: 120px;">
                <a href="{% url 'forum:forum1' %}" class="button1 bodyButton" style="font-size: 20px; width: 150px;">
                    <div class="kanankiri center">
                        <img src="{% static 'main/img/DiskusiGeneral.png' %}" class="paddingkanan" width=40px height=40px />
                        Forum
                    </div>
                </a>
                <a href="{% url 'main:about' %}" class="button1 bodyButton" style="font-size: 20px; width: 150px;">
                    <div class="kanankiri center">
                        <img src="{% static 'main/img/DiskusiSaya.png' %}" class="paddingkanan" width=40px height=40px />
                        About
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
