  .navbar1 {
    width: 100%;
    height: 6vw;
    background: #5390d9;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    line-height: 1.5;
}

.navbar1 .barLeft {
    padding: 1.5%;
    padding-top: 1.3vw;
    width: 20vw;
}

.navbar1 .barRight {
    display: flex;
    justify-content: flex-end;
}

.navbar1 .barRight .listRight {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}

.navbar1 .barRight .listRight li {
    display: inline-block;
    font-size: 1.3vw;
    padding-top: 1.3vw;
    padding-left: 0px;
    padding-right: 1vw;
}

.listRight a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* mouse over link */
.navbar1 .barRight a:hover {
    color: #ced4da;
    text-decoration: none;
}

/* selected link */
.navbar1 .barRight a:active {
    color: white;
}

.navbar1 .barLeft a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
}

/* mouse over link */
.navbar1 .barLeft a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
.navbar1 .barLeft a:active {
    color: white;
}

/* dropdown1 */

.dropdown1:hover .dropbtn {
    color: white;
}

.dropdown1 {
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 10vw;
  box-shadow: 0px 4.6vw 3.2vw 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 5px solid white;
  border-radius: 15px;
  transform: translate(-15%, 0);
}

.dropdown-content1 a {
  color: black;
  padding: 1vw 1.5vw;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.3vw;
  border-radius: 10px;
}

.dropdown-content1 a:hover {
  background-color: #5390d9;
  color: black;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

/* dropdown2 */

.dropdown2:hover .dropbtn {
    color: white;
}

.dropdown2 {
  display: inline-block;
}

.dropdown-content2  {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 11vw;
  box-shadow: 0px 4.6vw 3.2vw 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 5px solid white;
  border-radius: 15px;
  transform: translate(-40%, 0);
}

.dropdown-content2 a {
  color: black;
  padding: 1vw 1.5vw;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.3vw;
  border-radius: 10px;
}

.dropdown-content2 a:hover {
  background-color: #5390d9;
  color: black;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.navbar1 .barRight .listRight .dropdown-content {
    color: #117aa7;
}

.navbar1 .barRight .listRight .dropdown-content:hover {
    color: white;
}