@import "styleNavbar.css";
@import "styleFooter.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    width: 100%
}

body {
  font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding-bottom: 10vw;
}

.footer1 {
  height: 10vw;
  margin-top: -10vw;
}

.footer1 .barCenter img {
    height: 3vw;
    width: 3vw;
}

.navbar1 .barRight .listRight .selected {
    color: #ced4da;
}

.navbar1 .barRight .listRight .selected-button {
    color: #117aa7;
    background-color: #FFFFFF;
}

/* button */
a.button1{
    display:inline-block;
    padding:0.3em 1em;
    border:0.2em solid #FFFFFF;
    margin:0 0.3em 1.19em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 1.3vw;
}

a.button1:hover{
    color: #117aa7;
    background-color: #FFFFFF;
}

.navbar1 .barRight .listRight a.button1:hover{
    color: #117aa7;
    background-color: #FFFFFF;
}

@media all and (max-width:30em){
    a.button1{
        display: block;
        margin: 0.4em auto;
    }
}

.hello {
    color: white;
    font-weight: bold;
}

.kanankiri {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-right: 10px;
}

.profileKecil {
    height: 0.9vw;
    width: 0.9vw;
    background-color: #bbb;
    border-radius: 50%;
    margin: 10px 15px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    border: white solid 0.15vw;
}