html {
    margin:0;
    padding:0;
    height: 100%;
    width: 100vw;
}

body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100vw;
    background: rgb(83, 144, 217, 0.4);
}

.container {
    height: 100%;
    margin: 4vh 2vw 8vh 2vw;
}

.judul {
    text-align: center;
    font-size: 5em;
    font-weight: bold;    
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    padding: 0 2vw;
    color: #5390d9;
}

.subjudul {
    font-size: 2em;
    font-weight: bold;  
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    text-align: center;
    padding: 0 2vw;
}

.judul-kecil {
    text-align: center;
    font-size: 2em;
    font-weight: bold;    
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    padding: 0 0;
    color: black;
}

.isi {
    font-size: 1.4em;
}

.kanankiri {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.atasbawah {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.alignkanankiriatas {
    align-items: flex-start;
}

.alignatasbawahkiri {
    align-items: flex-start;
}

.alignatasbawahkanan {
    align-items: flex-end;
}

.center {
    justify-content: center;
}

.text-align-kanan {
    text-align: right;
}

.paddingkanan {
    padding: 0 0.5vw 0 0;
}

.paddingkanankiri {
    padding: 0 0.5vw 0 0.5vw;
}

.anggota {
    text-align: center;
}

.about-background {
    background: rgb(83, 144, 217, 0.6);
    border-radius: 10px;
    padding: 1.5vw;
    margin: 1vw;
    width: 62%;
}

/* button */
.button1, input[type=submit] {
    display: inline-block;
    padding:0.35em 1.2em;
    border: 0.13em solid #FFFFFF;
    margin: 0.5em 0.5em 1em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
    font-size: 2vw;
    background-color: #5390d9;
}

#home .bodyButton {
    font-size: 1.5vw;
    border: 0.13em solid #5390d9;
    padding: 0.4em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    background: #5390d9;
    color: white;
}

#home .bodyButton:hover {
    border: 0.13em solid #5390d9;
    background-color: #FFFFFF;
    color: #5390d9;
}

#home .hd:hover {
    border: 0.13em solid black;
    background: #fce25f;
    color: black;
}

#home .hs:hover {
    border: 0.13em solid #907ad6;
    background: #dabfff;
    color: #1b9aaa;
}

#home .th:hover {
    border: 0.13em solid #2d6a4f;
    background: #95d5b2;
    color: black;
}

#home .tp:hover {
    border: 0.13em solid #03045e;
    background: #3a506b;
    color: #caf0f8;
}

@media all and (max-width:30em){
    .button1, input[type=submit] {
        display: block;
        margin: 0.4em auto;
    }
}